    #content h1 {
        margin: 20px 0 30px 0;
        padding-bottom: 15px;
        border-bottom: 1px solid #ddd;
    }

    #content p {
        /* right padding is added here and not at #content so that the gray
           background on .annotations stretches the full width */
        padding-right: 1.5em;
    }

    #content div.line {
        margin: 0 0 20px;
    }

    #content div.line.has-level-num {
        margin-left: 2.25em;
    }

    #content .level-num {
        font-weight: bold;
        color: #666;
    }

    /* paragraphs can have multiple numbers when there are nested levels without intermediate
       text, e.g. (3) (A) Blah blah. Only reverse-indent the first, otherwise the floats land
       on top of each other. */
    #content .level-num:first-child {
        display: block;
        float: left;
        width: 100px;
        margin-left: -100px;
        padding-right: .5em;
        text-align: right;
    }

    #content .level-heading {
        font-weight: bold;
        color: #666;
    }

    #content table th, #content table td {
        padding-right: 1.5em;
        padding-bottom: .25em;
    }

.primary-content {
    padding: 0;
}

.annotations {
    margin: 1em 0;
    padding: 1em 0;
    border-top: 1px solid #ccc;
    background: #eee;
    color: #666;
}

.annotations .subheading {
    margin-bottom: 0;
    line-height: 1.67em;
    font-weight: bold
}

.annotations p {
    margin-bottom: .5em;
}

.form, .table {
    max-width: 50em;
    margin: 1em;
    padding: 1em;
    border: 1px solid #ccc;
    background: #eee;
}
.form p, .table p {
    margin: 0;
}

.form p span, .table p span {
    white-space: pre-wrap;
}

.line {
    margin-top: 10px;
}

.line:first-child {
    margin-top: 0;
}

.subheading {
    margin: 1em 0;
}

@media only screen and (max-width: 640px) {
    .annotations .line {
        padding-left: 0 !important;
    }
}

.child-link.placeholder a {
    color: rgba(90,160,190,.9);
}
.child-link.placeholder .range {
    color: #777;
}

.child-link .range {
    font-size: 80%;
    color: #444;
    margin-bottom: 5px;
}
