    #content h1 {
        margin: 20px 0; /* same as paragraph spacing */
        padding-bottom: 10px;
        border-bottom: 1px solid #ddd;
        line-height: 1.25em;
    }

    #content .line-group {
        /* Especially inside the .annotations group where there is background color,
           we need padding to keep the text away from the horizontal edges. Also
           repeated in #content h1.
           Also add additional vertical spacing between groups. */
        padding: 5px 1.5em;
    }

    #content .line {
        /* Paragraph spacing. */
        margin: 0 0 20px;
    }

    #content .level-num, #content .level-heading {
        /* Bold numbering and headings. */
        font-weight: bold;
        color: #666;
    }

    #content table {
        /* Override reset.css which sets with to 100%, which
           makes textual tables appear weirdly wide. */
        width: auto;
    }

    #content table th, #content table td {
        padding-right: 1.5em;
        padding-bottom: .25em;
    }

#content .annotations {
    border-top: 1px solid #ccc;
    padding-top: 20px; /* same as paragraph spacing */
    padding-bottom: 20px; /* same as paragraph spacing */
    background: #eee;
    color: #666;
}

.subheading {
    margin-bottom: 0;
    line-height: 1.67em;
    font-weight: bold
}

.form {
    max-width: 50em;
    margin: 1em;
    padding: 1em;
    border: 1px solid #ccc;
    background: #eee;
}
.form p {
    margin: 0;
}

.form p span {
    white-space: pre-wrap;
}

.line {
    margin-top: 10px;
}

.line:first-child {
    margin-top: 0;
}

.subheading {
    margin: 1em 0;
}

@media only screen and (max-width: 640px) {
    .annotations .line {
        padding-left: 0 !important;
    }
}

.child-link.placeholder a {
    color: rgba(90,160,190,.9);
}
.child-link.placeholder .range {
    color: #777;
}

.child-link .range {
    font-size: 80%;
    color: #444;
    margin-bottom: 5px;
}
